
*.meta
Runtime/Scripts/Core/
package.json
*.asmdef
*.asset
*.prefab
*.mat
*.preset
*.shader
*.unity
*.fbx
*.ttf
Runtime/PosterSystem/
Editor/Postersystem/
Editor/EditorFunctions.cs
Editor/DefineSymbol.cs
Editor/CreatePrefabs.cs
Editor/CreateDisBridgePlugin.cs
Runtime/Plugins/Resources/
Runtime/Plugins/RoleTags/*.png
Runtime/PromoMaterial/
